:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f6f9;
  --auth-background-color: #dcebf7;
  --btn-background-color: #3e85f3;
  --btn-hover-background-color: #2b78ef;
  --low-background-color: #72c2f8;
  --medium-background-color: #f3b249;
  --high-background-color: #ea3d65;
  --title-color: #3e85f3;
  --subtitle-color: #171820;
  --descr-color: rgba(17, 17, 17, 0.9);
  --hover-color: #2B78EF;

}
