:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f6f9;
  --auth-background-color: #dcebf7;
  --btn-background-color: #3e85f3;
  --btn-hover-background-color: #2b78ef;
  --low-background-color: #72c2f8;
  --medium-background-color: #f3b249;
  --high-background-color: #ea3d65;
  --title-color: #3e85f3;
  --subtitle-color: #171820;
  --descr-color: rgba(17, 17, 17, 0.9);
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper
  .css-6hp17o-MuiList-root-MuiMenu-list {
  border-radius: 8px;
  width: 150px;
}

.css-6hp17o-MuiList-root-MuiMenu-list
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #343434;
}

.css-6hp17o-MuiList-root-MuiMenu-list
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: rgba(227, 243, 255, 5);
}
